@media screen and (min-width: 1200px) {
header {
    display: flex;
    padding: var(--no-spacing-unit-all-around);
}
#hamburgerMenu {
    display: none;
}
#course-title {
    width: calc(100% - var(--quad-spacing-unit));
    display: block;
    text-align: left;
    padding: var(--quad-spacing-unit-left-only);
    margin: var(--quad-spacing-unit-right-only);
}
nav {
    margin: var(--no-spacing-unit-all-around);
    color: var(--menu-color);
    background-color: var(--menu-background);
    padding: var(--quad-spacing-unit-right-and-left-only);
    width: 55%;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: var(--no-spacing-unit-all-around)
}
.menulist {
    display: flex;
    margin: var(--quad-spacing-unit-top-and-bottom-only);
}
.menuitem {
    width: var(--full-size-menu-percent);
    padding: var(--no-spacing-unit-all-around);
}
.menuitem:hover,
.menuitem:hover a,
.menuitem:hover a:link,
.menuitem:hover a:visited {
    border: 0px solid var(--menu-color);
    text-align: center;
}
.menuitem a,
.menuitem a:link,
.menuitem a:visited {
    text-align: center;
}
.active {
    text-align: center;
}
.active a,
.active a:link,
.active a:visited {
    text-align: center;
}
.active:hover,
.active:hover a,
.active:hover a:link,
.active:hover a:visited {
    text-align: center;
}
main {
    padding: var(--quad-spacing-unit-all-around);
    grid-template: auto repeat(2, 1fr) auto / auto;
}
.name {
    grid-row: 2;
    grid-column: 2;
}
.purpose {
    grid-row: 2;
    grid-column: 3;
}
.scenarios {
    grid-row: 3;
    grid-column: 2;
}
.color-schema {
    grid-row: 3/5;
    grid-column: 3;
}
.typography {
    grid-row: 4;
    grid-column: 2;
}
.wireframes {
    grid-row: 5;
    grid-column: 2/4;
}
.wireframes-mobile {
    grid-row: 4;
}
.wireframes-mobile-img {
    grid-row: 5;
}
.wireframes-tablet {
    grid-row: 2;
    grid-column: 3/8;
}
.wireframes-tablet-img {
    grid-row: 3;
    grid-column: 3/8;
}
.wireframes-laptop {
    grid-column: 9/13;
    grid-row: 2;
}
.wireframes-laptop-img {
    grid-column: 9/13;
    grid-row: 3;
}
.hero picture img {
    max-width: 648px;
    max-height: 485px;
}
/**************************************Site Home tab Scytale Card Classes****************************/
.scytale {
    grid-row: 3;
    border: 0px solid red;
}
.scytale.show {
    display: grid;
}

.scytale picture {
    grid-column: 1/5;
    grid-row: 2;
    padding: calc(0 * var(--quad-spacing-unit)) 0;
    border: 0px solid red;
}

.scytale picture img {
    max-width: 1192px;
    max-height: 676px;
    border: 0px solid red;
}

.scytale h2 {
    grid-column: 1/15;
    grid-row: 1;
    width: calc(100% - calc(2 * var(--quad-spacing-unit)));
    border: 0px solid red;
}

.scytale p {
    grid-column: 5/15;
    grid-row: 2;
    border: 0px solid red;
}

/**************************************Site Home tab Substitution Card Classes****************************/
.substitution {
    grid-row: 4;
    border: 0px solid red;
}
.substitution.show {
    display: grid;
}
.substitution picture {
    grid-column: 10/15;
    grid-row: 2;
    padding: calc(0 * var(--quad-spacing-unit)) 0;
    border: 0px solid red;
}

.substitution picture img {
    max-width: 1144px;
    max-height: 704px;
    border: 0px solid red;
}

.substitution h2 {
    grid-column: 1/15;
    grid-row: 1;
    width: calc(100% - calc(2 * var(--quad-spacing-unit)));
    border: 0px solid red;
}

.substitution p {
    grid-column: 1/10;
    grid-row: 2;
    border: 0px solid red;
}

/**************************************Site Home tab Playfair Card Classes****************************/
.playfair {
    grid-row: 5;
    border: 0px solid red;
}
.playfair.show {
    display: grid;
}
.playfair picture {
    grid-column: 1/5;
    grid-row: 2;
    padding: calc(0 * var(--quad-spacing-unit)) 0;
    border: 0px solid red;
}

.playfair picture img {
    max-width: 996px;
    max-height: 812px;
    border: 0px solid red;
}

.playfair h2 {
    grid-column: 1/15;
    grid-row: 1;
    width: calc(100% - calc(2 * var(--quad-spacing-unit)));
    border: 0px solid red;
}

.playfair p {
    grid-column: 5/15;
    grid-row: 2;
    border: 0px solid red;
}

}