:root {
    --menu-item-count: 5;
    --full-size-menu-percent: calc(100% * calc(1 / var(--menu-item-count)));
    --relative-spacing-unit: .25rem;
    --double-spacing-unit: calc(2 * var(--relative-spacing-unit));
    --quad-spacing-unit: calc(4 * var(--relative-spacing-unit));
    --sextuple-spacing-init: calc(6 * var(--relative-spacing-unit));
    
    --font-size: var(--quad-spacing-unit);
    --font-body: "Roboto";
    --font-header-footer: "Eagle Lake", cursive;

    --primary-color: darkblue;
    --secondary-color: white;
    --tertiary-color: black;
    /*--quaternary-color: color-mix(in srgb, darkblue, transparent 100%);*/
    
    --body-color: var(--tertiary-color);
    --body-background: var(--secondary-color);
    --header-footer-color: var(--secondary-color);
    --header-footer-background: var(--primary-color);
    --menu-color: var(--secondary-color);
    --menu-background: var(--tertiary-color);
    --sidebar-color: var(--primary-color);
    --sidebar-background: var(--secondary-color);

    --fieldsetborder: color-mix(in srgb, var(--primary-color), var(--secondary-color) 50%);
    --fieldsetlegendcolor: color-mix(in srgb, var(--primary-color), var(--secondary-color) 50%);
    --formlabelcolor: var(--body-color);
    --forminputbackgroundcolor: color-mix(in srgb, var(--primary-color), var(--secondary-color) 95%);
    --forminputbordercolor: var(--body-color);
    --forminputcolor: var(--body-color);
    --formsubmitlightcolor: var(--secondary-color);
    --formsubmitdarkcolor: var(--primary-color);
    --formsubmitdarkcolorpercent: 40%;
    --formsubmitcolor: var(--body-color);
    --formsubmitshadowcolor: color-mix(in srgb, var(--primary-color), var(--secondary-color) 50%);
    --forminputrequiredleftbordercolor: color-mix(in srgb, color-mix(in srgb, var(--primary-color), var(--secondary-color) 95%),red 30%);
    --forminputvalidrequiredleftbordercolor: color-mix(in srgb, color-mix(in srgb, var(--primary-color), var(--secondary-color) 95%),green 30%);

    --no-spacing-unit-all-around: 0;
    --relative-spacing-unit-all-around: var(--relative-spacing-unit);
    --quad-spacing-unit-all-around: var(--quad-spacing-unit);
    /*T L B R*/
    --double-spacing-unit-top-and-bottom-only: var(--double-spacing-unit) 0 var(--double-spacing-unit) 0;
    --quad-spacing-unit-top-only: var(--quad-spacing-unit) 0 0 0;
    --quad-spacing-unit-bottom-only: 0 0 var(--quad-spacing-unit) 0;
    --quad-spacing-unit-left-only: 0 0 0 var(--quad-spacing-unit);
    --quad-spacing-unit-top-and-left-only: var(--quad-spacing-unit) var(--quad-spacing-unit) 0 0;
    --quad-spacing-unit-top-and-bottom-only: var(--quad-spacing-unit) 0 var(--quad-spacing-unit) 0;
    --quad-spacing-unit-right-only: 0 var(--quad-spacing-unit) 0 0;
    --quad-spacing-unit-right-and-left-only: 0 var(--quad-spacing-unit) 0 var(--quad-spacing-unit);
}
html {
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    padding: var(--relative-spacing-unit-all-around);
    color: var(--body-color);
    background-color: var(--body-background);
    font-family: var(--font-body);
    font-size: var(--font-size);
    text-align: left;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
body {
    grid-column: 1/3;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    /*max-width: 1024px;*/
    min-width: 300px;
    height: 100%;
    padding: var(--no-spacing-unit-all-around);
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}