/***************************************************************************************************/
/**************************************Site Plan Specific Classes***********************************/
/***************************************************************************************************/

/**************************************Site Plan Card Classes***********************************/

.card {
    margin: 0rem 0rem var(--quad-spacing-unit) 0rem;
    border: 1px solid var(--body-color);
    border-radius: var(--quad-spacing-unit);
    width: auto;
    padding: 0rem 0rem 0rem 0rem;
    grid-column: 3;
    display: grid;
    grid-template-columns: auto repeat(12, 1fr) auto;
    grid-template-rows: calc(17 * var(--relative-spacing-unit)) auto calc(8 * var(--relative-spacing-unit)) auto;
    gap: 0;
}
.card h2 {
    grid-column: 1/15;
    grid-row: 1;
    margin: var(--no-spacing-unit-all-around);
    border: 1px solid var(--body-color);
    border-radius: var(--quad-spacing-unit) var(--quad-spacing-unit) 0 0;
    width: auto;
    height: calc(8 * var(--relative-spacing-unit));
    padding: var(--quad-spacing-unit-all-around);
    text-align: center;
    vertical-align: middle;
}
.card p {
    text-align: left;
}

/**************************************Site Plan Name Card Classes***********************************/

.name {
    grid-row: 2;
    grid-template-rows: calc(17 * var(--relative-spacing-unit)) repeat(5, auto) calc(8 * var(--relative-spacing-unit)) auto;
}
.name-detail {
    grid-column: 3/13;
    border-radius: 2rem;
    grid-row: 2;
    text-align: center;
}
.name-info {
    grid-column: 3/13;
    grid-row: 3;
}
.domain-label {
    grid-column: 3/13;
    grid-row: 4;
}
.domain-detail {
    font-weight: bold;
    color: var(--header-footer-background);
}
.logo{
    grid-column: 3/13;
    grid-row: 5;
    vertical-align: middle;
    height: calc(2.5*1rem);
    width: calc(2.5*2.8537095088819226750261233019854rem);
}
.logo-img {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    height: calc(1*1rem);
    width: calc(1*2.8537095088819226750261233019854rem);
}

/**************************************Site Plan Purpose Card Classes***********************************/

.purpose {
    grid-row: 3;
    grid-template-rows: calc(17 * var(--relative-spacing-unit)) repeat(2, auto) calc(8 * var(--relative-spacing-unit)) auto;
}
.purpose-info {
    grid-column: 3/13;
    grid-row: 2;
}

/**************************************Site Plan Scenarios Card Classes***********************************/

.scenarios {
    grid-row: 4;
    grid-template-rows: calc(17 * var(--relative-spacing-unit)) repeat(4, auto) calc(8 * var(--relative-spacing-unit)) auto;
}
.scenarios-info-1 {
    grid-column: 3/13;
    grid-row: 2;
}
.scenarios-info-2 {
    grid-column: 3/13;
    grid-row: 3;
}
.scenarios-info-3 {
    grid-column: 3/13;
    grid-row: 4;
}

/**************************************Site Plan Color Schema Card Classes***********************************/

.color-schema {
    grid-row: 5;
    grid-template-rows: calc(17 * var(--relative-spacing-unit)) repeat(16, auto) calc(8 * var(--relative-spacing-unit)) auto;
}
.color-schema-body{
    grid-column: 3/13;
    grid-row: 2;
    border-radius: 2rem;
}
.color-schema-body-foreground{
    grid-column: 4/12;
    grid-row: 3;
    border-radius: 0rem 0rem 1rem 1rem;
}
.color-schema-body-foreground-details{
    grid-column: 4/12;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.color-schema-body-foreground-color{
    color: var(--body-background);
    background-color: var(--body-color);
    border: 1px solid var(--body-background);
}
.color-schema-body-foreground-hex, .color-schema-body-foreground-name{
    color: var(--body-color);
    background-color: var(--body-background);
    text-align: center;
}
.color-schema-body-background{
    grid-column: 4/12;
    grid-row: 5;
    border-radius: 1rem;
}
.color-schema-body-background-details{
    grid-column: 4/12;
    grid-row: 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.color-schema-body-background-color{
    color: var(--body-color);
    background-color: var(--body-background);
    border: 1px solid var(--body-color);
}
.color-schema-body-background-hex, .color-schema-body-background-name{
    color: var(--body-background);
    background-color: var(--body-color);
    text-align: center;
}
.color-schema-header{
    grid-column: 3/13;
    grid-row: 7;
    border-radius: 2rem;
}
.color-schema-header-foreground{
    grid-column: 4/12;
    grid-row: 8;
    border-radius: 0rem 0rem 1rem 1rem;
}
.color-schema-header-foreground-details{
    grid-column: 4/12;
    grid-row: 9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.color-schema-header-foreground-color{
    color: var(--header-footer-background);
    background-color: var(--header-footer-color);
    border: 1px solid var(--header-footer-background);
}
.color-schema-header-foreground-hex, .color-schema-header-foreground-name{
    color: var(--header-footer-color);
    background-color: var(--header-footer-background);
    text-align: center;
}
.color-schema-header-background{
    grid-column: 4/12;
    grid-row: 10;
    border-radius: 1rem;
}
.color-schema-header-background-details{
    grid-column: 4/12;
    grid-row: 11;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.color-schema-header-background-color{
    color: var(--header-footer-color);
    background-color: var(--header-footer-background);
    border: 1px solid var(--header-footer-color);
}
.color-schema-header-background-hex, .color-schema-header-background-name{
    color: var(--header-footer-background);
    background-color: var(--header-footer-color);
    text-align: center;
}
.color-schema-menu{
    grid-column: 3/13;
    grid-row: 12;
    border-radius: 2rem;
}
.color-schema-menu-foreground{
    grid-column: 4/12;
    grid-row: 13;
    border-radius: 0rem 0rem 1rem 1rem;
}
.color-schema-menu-foreground-details{
    grid-column: 4/12;
    grid-row: 14;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.color-schema-menu-foreground-color {
    color: var(--menu-background);
    background-color: var(--menu-color);
    border: 1px solid var(--menu-background);
}
.color-schema-menu-foreground-hex,
.color-schema-menu-foreground-name {
    color: var(--menu-color);
    background-color: var(--menu-background);
    text-align: center;
}
.color-schema-menu-background{
    grid-column: 4/12;
    grid-row: 15;
    border-radius: 1rem;
}
.color-schema-menu-background-details{
    grid-column: 4/12;
    grid-row: 16;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.color-schema-menu-background-color {
    color: var(--menu-color);
    background-color: var(--menu-background);
    border: 1px solid var(--menu-color);
}
.color-schema-menu-background-hex,
.color-schema-menu-background-name {
    color: var(--menu-background);
    background-color: var(--menu-color);
    text-align: center;
}

/**************************************Site Plan Typography Card Classes***********************************/

.typography {
    grid-row: 6;
    grid-template-rows: calc(17 * var(--relative-spacing-unit)) repeat(5, auto) calc(8 * var(--relative-spacing-unit)) auto;
}
.typography-header {
    grid-column: 3/13;
    grid-row: 2;
    border-radius: 2rem;
}
.typography-header-info {
    grid-column: 3/13;
    grid-row: 3;
    display: grid;
    grid-template-columns: 25% 75%;
}
.typography-header-info-detail,
.typography-header-info-demo {
    font-family: var(--font-header-footer);
}
.typography-body {
    grid-column: 3/13;
    grid-row: 4;
    border-radius: 2rem;
}
.typography-body-info {
    grid-column: 3/13;
    grid-row: 5;
    display: grid;
    grid-template-columns: 25% 75%;
}
.typography-body-info-detail, .typography-body-info-demo {
    font-family: var(--font-body);
}

/**************************************Site Plan Wireframes Card Classes***********************************/

.wireframes {
    grid-row: 7;
    grid-template-rows: calc(17 * var(--relative-spacing-unit)) repeat(7, auto) calc(8 * var(--relative-spacing-unit)) auto;
}
.wireframes-mobile {
    grid-column: 3/13;
    grid-row: 2;
}

.wireframes-mobile-img {
    grid-column: 4/12;
    grid-row: 3;
    width: 100%;
    padding: var(--quad-spacing-unit-top-and-bottom-only);
}
.wireframes-tablet {
    grid-column: 3/13;
    grid-row: 4;
}
.wireframes-tablet-img {
    grid-column: 4/12;
    grid-row: 5;
    width: 100%;
    padding: var(--quad-spacing-unit-top-and-bottom-only);
}
.wireframes-laptop
{
    grid-column: 3/13;
    grid-row: 6;
}
.wireframes-laptop-img
{
    grid-column: 4/12;
    grid-row: 7;
    width: 100%;
    padding: var(--quad-spacing-unit-top-and-bottom-only);
}