:root {
    --menu-item-count: 5;
    --full-size-menu-percent: calc(100% * calc(1 / var(--menu-item-count)));
    --relative-spacing-unit: .25rem;
    --double-spacing-unit: calc(2 * var(--relative-spacing-unit));
    --quad-spacing-unit: calc(4 * var(--relative-spacing-unit));
    --sextuple-spacing-init: calc(6 * var(--relative-spacing-unit));
    
    --font-size: var(--quad-spacing-unit);
    --font-body: "Roboto";
    --font-header-footer: "Eagle Lake", cursive;

    --primary-color: darkblue;
    --secondary-color: white;
    --tertiary-color: black;
    /*--quaternary-color: color-mix(in srgb, darkblue, transparent 100%);*/
    
    --body-color: var(--tertiary-color);
    --body-background: var(--secondary-color/*--quaternary-color*/);
    --header-footer-color: var(--secondary-color);
    --header-footer-background: var(--primary-color);
    --menu-color: var(--secondary-color);
    --menu-background: var(--tertiary-color);
    --sidebar-color: var(--primary-color);
    --sidebar-background: var(--secondary-color);

    --no-spacing-unit-all-around: 0;
    --relative-spacing-unit-all-around: var(--relative-spacing-unit);
    --quad-spacing-unit-all-around: var(--quad-spacing-unit);
    /*T L B R*/
    --double-spacing-unit-top-and-bottom-only: var(--double-spacing-unit) 0 var(--double-spacing-unit) 0;
    --quad-spacing-unit-top-only: var(--quad-spacing-unit) 0 0 0;
    --quad-spacing-unit-bottom-only: 0 0 var(--quad-spacing-unit) 0;
    --quad-spacing-unit-left-only: 0 0 0 var(--quad-spacing-unit);
    --quad-spacing-unit-top-and-left-only: var(--quad-spacing-unit) var(--quad-spacing-unit) 0 0;
    --quad-spacing-unit-top-and-bottom-only: var(--quad-spacing-unit) 0 var(--quad-spacing-unit) 0;
    --quad-spacing-unit-right-only: 0 var(--quad-spacing-unit) 0 0;
    --quad-spacing-unit-right-and-left-only: 0 var(--quad-spacing-unit) 0 var(--quad-spacing-unit);
}
html {
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    padding: var(--relative-spacing-unit-all-around);
    color: var(--body-color);
    background-color: var(--body-background);
    font-family: var(--font-body);
    font-size: var(--font-size);
    text-align: left;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
body {
    grid-column: 1/3;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    /*max-width: 1024px;*/
    min-width: 300px;
    height: 100%;
    padding: var(--no-spacing-unit-all-around);
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}
.heading {
    color: var(--header-footer-color);
    background-color: var(--header-footer-background);
    font-family: var(--font-header-footer);
}
.logo{
    height: 3rem;
    width: auto;
    margin-right: 2rem;
}
header {
    grid-column: 1/4;
    grid-row: 1;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    padding: var(--quad-spacing-unit-top-only);
}
#hamburgerMenu::after {
    content: "☰";
}
#hamburgerMenu.open::after {
    content: "❎";
}
#hamburgerMenu {
    border: 0px solid red;
    width: var(--quad-spacing-unit);
    display: block;
    text-align: center;
    position: absolute;
    top: var(--quad-spacing-unit);
    right: var(--sextuple-spacing-init);
    font-size: var(--sextuple-spacing-init);
}
#course-title {
    border: 0px solid red;
    width: 100%;
    display: block;
    text-align: center;
}
nav {
    grid-column: 1/4;
    margin: var(--quad-spacing-unit-top-only);
    border: 0px solid red;
    width: 100%;
    padding: var(--no-spacing-unit-all-around);
    color: var(--menu-color);
    background-color: var(--menu-background);
    font-family: var(--font-header-footer);
}
.menulist {
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: 100%;
    padding: var(--no-spacing-unit-all-around);
    list-style-type: none;
    text-align: center;
    display: none;
    /*text-align: left;
    display: flex;/**/
}
.menulist.open {
    display: block;
}
.menuitem {
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: 100%;
    padding: var(--double-spacing-unit-top-and-bottom-only);
    text-align: center;
    display: block;
    /*width: 25%;
    padding: var(--no-spacing-unit-all-around);
    text-align: left;
    display: inline-flex;/**/
}
.menuitem:hover,
.menuitem:hover a,
.menuitem:hover a:link,
.menuitem:hover a:visited {
    border: 1px solid var(--menu-color);
    border-radius: var(--double-spacing-unit);
    text-decoration: none;
    color: var(--menu-background);
    background-color: var(--menu-color);
}
.menuitem a,
.menuitem a:link,
.menuitem a:visited {
    text-decoration: none;
    color: var(--menu-color);
    background-color: var(--menu-background);
}
.active {
    border-radius: var(--double-spacing-unit);
    color: var(--menu-background);
    background-color: var(--menu-color);
}
.active a, .active a:link, .active a:visited {
    border-radius: var(--double-spacing-unit);
    color: var(--menu-background);
    background-color: var(--menu-color);
}
.active:hover,
.active:hover a,
.active:hover a:link,
.active:hover a:visited {
    color: var(--menu-color);
    background-color: var(--menu-background);
    border: 1px solid var(--menu-background);
}

main {
    grid-column: 1/4;
    grid-row: 2;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    padding: var(--no-spacing-unit-all-around);
    display: grid;
    grid-template: auto 1fr auto / auto;
    gap: 1rem;
}
main h1 {
    grid-column: 1/6;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    padding: calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit));
    text-align: center;
    display: block;
}
.card {
    margin: 0rem 0rem calc(4 * var(--relative-spacing-unit)) 0rem;
    border: 1px solid var(--body-color);
    border-radius: calc(4 * var(--relative-spacing-unit));
    width: auto;
    padding: 0rem 0rem 0rem 0rem;
    grid-column: 3;
    display: grid;
    grid-template-columns: auto repeat(12, 1fr) auto;
    grid-template-rows: calc(17 * var(--relative-spacing-unit)) auto calc(8 * var(--relative-spacing-unit)) auto;
    gap: 0;
}
.card h2 {
    grid-column: 1/15;
    grid-row: 1;
    margin: var(--no-spacing-unit-all-around);
    border: 1px solid var(--body-color);
    border-radius: calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit)) 0 0;
    width: auto;
    height: calc(8 * var(--relative-spacing-unit));
    padding: calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit));
    text-align: center;
    vertical-align: middle;
}
.info {
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    padding: calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit));
}
.card p {
    text-align: left;
}
.name {
    grid-row: 2;
    grid-template-rows: calc(17 * var(--relative-spacing-unit)) repeat(5, auto) calc(8 * var(--relative-spacing-unit)) auto;
}
.name-detail {
    grid-column: 3/13;
    border-radius: 2rem;
    grid-row: 2;
    text-align: center;
}
.name-info {
    grid-column: 3/13;
    grid-row: 3;
}
.domain-label {
    grid-column: 3/13;
    grid-row: 4;
}
.domain-detail {
    font-weight: bold;
    color: var(--header-footer-background);
}
.logo{
    grid-column: 3/13;
    grid-row: 5;
    vertical-align: middle;
    height: calc(2.5*1rem);
    width: calc(2.5*2.8537095088819226750261233019854rem);
}
.logo-img {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    height: calc(1*1rem);
    width: calc(1*2.8537095088819226750261233019854rem);
}
.purpose {
    grid-row: 3;
    grid-template-rows: calc(17 * var(--relative-spacing-unit)) repeat(2, auto) calc(8 * var(--relative-spacing-unit)) auto;
}
.purpose-info {
    grid-column: 3/13;
    grid-row: 2;
}
.scenarios {
    grid-row: 4;
    grid-template-rows: calc(17 * var(--relative-spacing-unit)) repeat(4, auto) calc(8 * var(--relative-spacing-unit)) auto;
}
.scenarios-info-1 {
    grid-column: 3/13;
    grid-row: 2;
}
.scenarios-info-2 {
    grid-column: 3/13;
    grid-row: 3;
}
.scenarios-info-3 {
    grid-column: 3/13;
    grid-row: 4;
}
.color-schema {
    grid-row: 5;
    grid-template-rows: calc(17 * var(--relative-spacing-unit)) repeat(16, auto) calc(8 * var(--relative-spacing-unit)) auto;
}
.color-schema-body{
    grid-column: 3/13;
    grid-row: 2;
    border-radius: 2rem;
}
.color-schema-body-foreground{
    grid-column: 4/12;
    grid-row: 3;
    border-radius: 0rem 0rem 1rem 1rem;
}
.color-schema-body-foreground-details{
    grid-column: 4/12;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.color-schema-body-foreground-color{
    color: var(--body-background);
    background-color: var(--body-color);
    border: 1px solid var(--body-background);
}
.color-schema-body-foreground-hex, .color-schema-body-foreground-name{
    color: var(--body-color);
    background-color: var(--body-background);
    text-align: center;
}
.color-schema-body-background{
    grid-column: 4/12;
    grid-row: 5;
    border-radius: 1rem;
}
.color-schema-body-background-details{
    grid-column: 4/12;
    grid-row: 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.color-schema-body-background-color{
    color: var(--body-color);
    background-color: var(--body-background);
    border: 1px solid var(--body-color);
}
.color-schema-body-background-hex, .color-schema-body-background-name{
    color: var(--body-background);
    background-color: var(--body-color);
    text-align: center;
}
.color-schema-header{
    grid-column: 3/13;
    grid-row: 7;
    border-radius: 2rem;
}
.color-schema-header-foreground{
    grid-column: 4/12;
    grid-row: 8;
    border-radius: 0rem 0rem 1rem 1rem;
}
.color-schema-header-foreground-details{
    grid-column: 4/12;
    grid-row: 9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.color-schema-header-foreground-color{
    color: var(--header-footer-background);
    background-color: var(--header-footer-color);
    border: 1px solid var(--header-footer-background);
}
.color-schema-header-foreground-hex, .color-schema-header-foreground-name{
    color: var(--header-footer-color);
    background-color: var(--header-footer-background);
    text-align: center;
}
.color-schema-header-background{
    grid-column: 4/12;
    grid-row: 10;
    border-radius: 1rem;
}
.color-schema-header-background-details{
    grid-column: 4/12;
    grid-row: 11;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.color-schema-header-background-color{
    color: var(--header-footer-color);
    background-color: var(--header-footer-background);
    border: 1px solid var(--header-footer-color);
}
.color-schema-header-background-hex, .color-schema-header-background-name{
    color: var(--header-footer-background);
    background-color: var(--header-footer-color);
    text-align: center;
}
.color-schema-menu{
    grid-column: 3/13;
    grid-row: 12;
    border-radius: 2rem;
}
.color-schema-menu-foreground{
    grid-column: 4/12;
    grid-row: 13;
    border-radius: 0rem 0rem 1rem 1rem;
}
.color-schema-menu-foreground-details{
    grid-column: 4/12;
    grid-row: 14;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.color-schema-menu-foreground-color {
    color: var(--menu-background);
    background-color: var(--menu-color);
    border: 1px solid var(--menu-background);
}
.color-schema-menu-foreground-hex,
.color-schema-menu-foreground-name {
    color: var(--menu-color);
    background-color: var(--menu-background);
    text-align: center;
}
.color-schema-menu-background{
    grid-column: 4/12;
    grid-row: 15;
    border-radius: 1rem;
}
.color-schema-menu-background-details{
    grid-column: 4/12;
    grid-row: 16;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.color-schema-menu-background-color {
    color: var(--menu-color);
    background-color: var(--menu-background);
    border: 1px solid var(--menu-color);
}
.color-schema-menu-background-hex,
.color-schema-menu-background-name {
    color: var(--menu-background);
    background-color: var(--menu-color);
    text-align: center;
}
.typography {
    grid-row: 6;
    grid-template-rows: calc(17 * var(--relative-spacing-unit)) repeat(5, auto) calc(8 * var(--relative-spacing-unit)) auto;
}
.typography-header {
    grid-column: 3/13;
    grid-row: 2;
    border-radius: 2rem;
}
.typography-header-info {
    grid-column: 3/13;
    grid-row: 3;
    display: grid;
    grid-template-columns: 25% 75%;
}
.typography-header-info-detail,
.typography-header-info-demo {
    font-family: var(--font-header-footer);
}
.typography-body {
    grid-column: 3/13;
    grid-row: 4;
    border-radius: 2rem;
}
.typography-body-info {
    grid-column: 3/13;
    grid-row: 5;
    display: grid;
    grid-template-columns: 25% 75%;
}
.typography-body-info-detail, .typography-body-info-demo {
    font-family: var(--font-body);
}
.wireframes {
    grid-row: 7;
    grid-template-rows: calc(17 * var(--relative-spacing-unit)) repeat(7, auto) calc(8 * var(--relative-spacing-unit)) auto;
}
.wireframes-mobile {
    grid-column: 3/13;
    grid-row: 2;
}

.wireframes-mobile-img {
    grid-column: 4/12;
    grid-row: 3;
    width: 100%;
    padding: var(--quad-spacing-unit-top-and-bottom-only);
}
.wireframes-tablet {
    grid-column: 3/13;
    grid-row: 4;
}
.wireframes-tablet-img {
    grid-column: 4/12;
    grid-row: 5;
    width: 100%;
    padding: var(--quad-spacing-unit-top-and-bottom-only);
}
.wireframes-laptop
{
    grid-column: 3/13;
    grid-row: 6;
}
.wireframes-laptop-img
{
    grid-column: 4/12;
    grid-row: 7;
    width: 100%;
    padding: var(--quad-spacing-unit-top-and-bottom-only);
}
.leftsidebar {
    grid-column: 1/2;
    grid-row: 2;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    height: 100%;
    padding: calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit));
    color: var(--sidebar-color);
    background-color: var(--sidebar-background);
    display: none;
}
.rightsidebar {
    grid-column: 3/4;
    grid-row: 2;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    height: 100%;
    padding: calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit));
    color: var(--sidebar-color);
    background-color: var(--sidebar-background);
    display: none;
}
footer {
    grid-column: 1/4;
    grid-row: 3;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    padding: calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit)) calc(4 * var(--relative-spacing-unit));
    text-align: center;
}
#copyright {
    font-size: calc(6 * var(--relative-spacing-unit));
}