:root {
    --font: "Eagle Lake", cursive;
    --font-size: 16px;

    --primary-color: darkblue;
    --secondary-color: white;
    --tertiary-color: black;
    --quaternary-color: color-mix(in srgb, var(--primary-color), transparent 75%);

    --body-color: var(--tertiary-color);
    --body-background: var(--quaternary-color);
    --header-footer-color: var(--secondary-color);
    --header-footer-background: var(--primary-color);
    --menu-color: var(--secondary-color);
    --menu-background: var(--tertiary-color);
    --sidebar-color: var(--primary-color);
    --sidebar-background: var(--secondary-color);
}
body {
    font-family: var(--font);
    font-size: var(--font-size);
    color: var(--body-color);
    background-color: var(--body-background);
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    padding: .25rem;
}
header {
    grid-column: 1/4;
    color: var(--header-footer-color);
    background-color: var(--header-footer-background);
    padding: 0;
    text-align: left;
}
header h1 {
    padding-left: 1rem;
}
nav {
    grid-column: 1/4;
    color: var(--menu-color);
    background-color: var(--menu-background);
    display: flex;
    width: 100%;
    margin-top: 4rem;
    padding: 0rem;
}
ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
li {
    display: inline-flex;
    width: 24.9%;
    padding: 0;
    margin: 0;
}
li h2 {
    display: block;
    width: 100%;
    text-align: center;
}
li:hover {
    color: var(--menu-background);
    background-color: var(--menu-color);
    border: 1px solid var(--menu-background);
    border-radius: .5rem;
}
.left-sidebar {
    grid-column: 1/2;
    color: var(--sidebar-color);
    background-color: var(--sidebar-background);
    display: none;
}
main {
    grid-column: 2/3;
    display: block;
    width: 100%;
    padding: 1rem;
    padding-bottom: 17rem;
    text-align: left;
}
.right-sidebar {
    grid-column: 3/4;
    color: var(--sidebar-color);
    background-color: var(--sidebar-background);
    display: flex;
    padding-left: 1rem;
    padding-right: 10rem;
}
footer {
    grid-column: 1/4;
    color: var(--header-footer-color);
    background-color: var(--header-footer-background);
    padding: 1rem;
    padding-bottom: 7rem;
    text-align: center;
}