:root {
    --body-background: lightblue;
    --body-color: black;
    --header-background: tan;
    --header-color: white;
    --header-accent: black;
    --header-alt-accent: grey;

    --fieldsetborder: var(--header-background);/* #ddd;/**/
    --fieldsetlegendcolor: var(--body-color);/* #445ba9;/**/
    --formlabelcolor: var(--body-color); /* #9c2c13;/**/
    --forminputbackgroundcolor: color-mix(in srgb, var(--header-background) 35%, var(--header-color));/* #eee;/**/
    --forminputbordercolor: var(--header-alt-accent);/* #999;/**/
    --forminputcolor: var(--header-accent);/* #999;/**/
    --forminputrequiredleftbordercolor: color-mix(in srgb,red 75%,color-mix(in srgb, var(--header-background) 35%, var(--header-color))); /* red;/**/
    --forminputvalidrequiredleftbordercolor: color-mix(in srgb, green 75%, color-mix(in srgb, var(--header-background) 35%, var(--header-color)));/* green;/**/
    --formsubmitcolor: var(--header-color);/* #fff;/**/
    --formsubmitlightcolor: var(--header-background);/* #9c2c13;/**/
    --formsubmitdarkcolor: var(--header-accent);/*#6f200e;/**/
    --formsubmitdarkcolorpercent: 25%;
    --formsubmitshadowcolor: var(--header-alt-accent);/* #999;/**/
}
body {
    background-color: var(--body-background);
    color: var(--body-color);
}
header, footer {
    background-color: var(--header-background);
    color: var(--header-color);
    padding: .5rem;
}
header > div, footer > p {
    background-color: var(--header-accent);
    padding: .5rem;
}
header > div > h1 {
    text-align: center;
}
.line {
    background-color: var(--header-alt-accent);
    padding: 0;
    height: .5rem;
}
footer, footer > p {
    padding: .25rem;
    margin: 0;
    text-align: center;
}

/*---------- FORM STYLING --------*/
.product-rev-web-form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--fieldsetborder);
    border-radius: 6px;
    padding: .5rem 2%;
}

.product-rev-web-form legend {
    color: var(--fieldsetlegendcolor);
    padding: 0 .5rem;
}

.product-rev-web-form label {
    display: block;
    padding-top: 1rem;
    color: var(--formlabelcolor);
    font-size: .9rem;
}

.product-rev-web-form div {
    padding-top: 1rem;
    margin-top: 1.25rem;
    color: var(--fieldsetlegendcolor);
    font-size: .9rem;
    padding-bottom: 0;
    border-bottom: 0;
}
.product-rev-web-form div>span {
    display: block;
}

.product-rev-web-form input[type="text"],
.product-rev-web-form input[type="date"],
.product-rev-web-form select,
.product-rev-web-form textarea,
.product-rev-web-form input[type="number"] {
    background-color:  var(--forminputbackgroundcolor);
    display: block;
    border: solid 1px var(--forminputbordercolor);
    border-radius: 6px;
    padding: .75rem;
    color:var(--forminputcolor);
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.product-rev-web-form input[type="radio"],
.product-rev-web-form input[type="checkbox"] {
    margin-right: 6px;
    padding: .75rem;
}

.product-rev-web-form input[type="submit"] {
    border: none;
    background-image: repeating-radial-gradient(var(--formsubmitlightcolor), var(--formsubmitdarkcolor) var(--formsubmitdarkcolorpercent), var(--formsubmitlightcolor));
    color: var(--formsubmitcolor);
    border-radius: 6px;
    padding: .75rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px var(--formsubmitshadowcolor);
}

.product-rev-web-form input:required:valid,
#product-name:required:valid {
    border-left: solid 8px var(--forminputvalidrequiredleftbordercolor);
}

.product-rev-web-form input:required, #product-name:required {
    border-left: solid 8px var(--forminputrequiredleftbordercolor);
}

.response {
    text-align: center;
}