:root {
    --menu-item-count: 5;
    --full-size-menu-percent:  calc(100% * calc(1 / var(--menu-item-count)));
    --relative-spacing-unit: .25rem;
    --double-spacing-unit: calc(2 * var(--relative-spacing-unit));
    --quad-spacing-unit: calc(4 * var(--relative-spacing-unit));
    --sextuple-spacing-init:  calc(6 * var(--relative-spacing-unit));

    --font-size: var(--quad-spacing-unit);
    --font: "Eagle Lake", cursive;

    --primary-color: darkblue;
    --secondary-color: white;
    --tertiary-color: black;
    --quaternary-color: color-mix(in srgb, darkblue, transparent 100%);

    --body-color: var(--tertiary-color);
    --body-background: var(--quaternary-color);
    --header-footer-color: var(--secondary-color);
    --header-footer-background: var(--primary-color);
    --menu-color: var(--secondary-color);
    --menu-background: var(--tertiary-color);
    --menu-background-active: var(--quaternary-color);
    --sidebar-color: var(--primary-color);
    --sidebar-background: var(--secondary-color);

    --no-spacing-unit-all-around: 0;
    --relative-spacing-unit-all-around: var(--relative-spacing-unit);
    --quad-spacing-unit-all-around: var(--quad-spacing-unit);
    /*T L B R*/
    --double-spacing-unit-top-and-bottom-only: var(--double-spacing-unit) 0 var(--double-spacing-unit) 0;
    --quad-spacing-unit-top-only:  var(--quad-spacing-unit) 0 0 0;
    --quad-spacing-unit-bottom-only: 0 0 var(--quad-spacing-unit) 0;
    --quad-spacing-unit-left-only: 0 0 0 var(--quad-spacing-unit);
    --quad-spacing-unit-top-and-left-only: var(--quad-spacing-unit) var(--quad-spacing-unit) 0 0;
    --quad-spacing-unit-top-and-bottom-only: var(--quad-spacing-unit) 0 var(--quad-spacing-unit) 0;
}
html {
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    padding: var(--relative-spacing-unit-all-around);
    color: var(--body-color);
    background-color: var(--body-background);
    font-family: var(--font);
    font-size: var(--font-size);
    text-align: left;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
body {
    grid-column: 1/3;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    /*max-width: 1024px;*/
    min-width: 300px;
    height: 100%;
    padding: var(--no-spacing-unit-all-around);
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}
header {
    grid-column: 1/4;
    grid-row: 1;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    padding: var(--quad-spacing-unit-top-only);
    color: var(--header-footer-color);
    background-color: var(--header-footer-background);
}
p {
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: 100%;
    display: block;
    padding: var(--no-spacing-unit-all-around);
}
#hamburgerMenu::after {
    content: "☰";
}
#hamburgerMenu.open::after {
    content: "❎";
}
#hamburgerMenu {
    border: 0px solid red;
    width: var(--quad-spacing-unit);
    display: block;
    text-align: center;
    position: fixed;
    top: var(--quad-spacing-unit);
    right: var(--quad-spacing-unit);
}
#title {
    border: 0px solid red;
    width: 100%;
    display: block;
    text-align: center;
}
nav {
    grid-column: 1/4;
    margin: var(--quad-spacing-unit-top-only);
    border: 0px solid red;
    width: 100%;
    padding: var(--no-spacing-unit-all-around);
    color: var(--menu-color);
    background-color: var(--menu-background);
}
.menulist {
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: 100%;
    padding: var(--no-spacing-unit-all-around);
    list-style-type: none;
    text-align: center;
    display: none;
}
.menulist.open {
    display: block;
}
.menuitem {
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: 100%;
    padding: var(--double-spacing-unit-top-and-bottom-only);
    text-align: center;
    display: block;
}
.menuitem:hover {
    border: 1px solid var(--menu-background);
    border-radius: var(--double-spacing-unit);
    color: var(--menu-background);
    background-color: var(--menu-color);
}
.active {
    border-radius: var(--double-spacing-unit);
    color: var(--menu-background);
    background-color: var(--menu-color);
}
.active:hover {
    color: var(--menu-color);
    background-color: var(--menu-background);
    border: 1px solid var(--menu-color);
}
main {
    grid-column: 2/3;
    grid-row: 2;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    padding: var(--quad-spacing-unit-all-around);
    display: block;
}
main h1 {
    grid-column: 1/6;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    padding: var(--quad-spacing-unit-all-around);
    text-align: center;
    display: block;
}
.card {
    margin: var(--quad-spacing-unit-bottom-only);
    border: 1px solid var(--body-color);
    border-radius: var(--quad-spacing-unit);
    width: auto;
    padding: var(--no-spacing-unit-all-around);
    display: block;
}
.card img {
    margin: var(--quad-spacing-unit-all-around);
    border: 1px solid black;
    border-radius: var(--quad-spacing-unit-top-and-left-only);
    width: calc(100% - 1px - calc(2 * var(--quad-spacing-unit)));
}
.card figcaption {
    text-align: center;
}
.leftsidebar {
    grid-column: 1/2;
    grid-row: 2;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    height: 100%;
    padding: var(--quad-spacing-unit-all-around);
    color: var(--sidebar-color);
    background-color: var(--sidebar-background);
    display: none;
}
.rightsidebar {
    grid-column: 3/4;
    grid-row: 2;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    height: 100%;
    padding: var(--quad-spacing-unit-all-around);
    color: var(--sidebar-color);
    background-color: var(--sidebar-background);
    display: none;
}
footer {
    grid-column: 1/4;
    grid-row: 3;
    margin: var(--no-spacing-unit-all-around);
    border: 0px solid red;
    width: auto;
    padding: var(--quad-spacing-unit-all-around);
    color: var(--header-footer-color);
    background-color: var(--header-footer-background);
    text-align: center;
}
#copyright {
    font-size: var(--sextuple-spacing-init);
}